.section-six {
    .section-numbers {
        margin: -3.3em 0 0 0;
        .number {
            margin: 0px 0px 10px calc(50% - 28px);
        }
    }
    .section-six-bg {
        background: #1a2240;
        width: 100%;
        height: 540px;
        position: absolute;
        z-index: -1;
        @media(min-width: 768px) {
            width: 65%;
        }
    }
    .section-six-job-photo {
        background-image: url('../photos/session 6/apliccation-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        top: 110px;
        position: relative;
        height: 430px;
        h2 {
            font-size: 35px;
            color: white;
            margin: 6.5em 0 0 0em;
            text-align: center;
            @media(min-width: 768px) {
                text-align: start;
                margin: 7.5em 0 0 2em;
            }
        }
        p {
            text-align: center;
            margin: 0.9em 0 0 0em;
            font-size: 22px;
            color: white;
            @media(min-width: 768px) {
                text-align: start;
                margin: 0.9em 0 0 3.3em;
            }
        }
    }
    .section-six-header {
         :first-child {
            font-size: 30px;
            color: white;
            font-weight: bold;
            margin: 0.9em 0 0 0.6em;
            border-left: 8px solid #1e93ee;
            padding-left: 1em;
        }
         :nth-child(2) {
            color: #1e93ee;
            font-size: 26px;
            margin: 5em 0 0 -0.5em;
            text-align: center;
            @media(min-width: 768px) {
                text-align: justify;
            }
        }
         :last-child {
            color: white;
            font-size: 22px;
            margin: 1em 0 0 -0.5em;
            text-align: center;
            @media(min-width: 768px) {
                text-align: justify;
            }
        }
    }
    .tight-stripe {
        height: 10px;
        background: #1e93ee;
        margin: 6.9em 0 0 0;
        width: 49%;
        float: right;
    }
    .s7-down-arrow {
        display: none;
        @media(min-width: 768px) {
            display: inline-block;
            border-right: 2px solid #1e93ee;
            width: 2%;
            height: 385px;
            margin-left: calc(50% - 190px);
            display: inline-block;
            margin-top: 25px;
            margin-bottom: -17px;
        }
    }
    .requirements {
        display: inline-block;
        bottom: 6em;
        position: relative;
        font-size: 18px;
        margin-left: 10px;
        font-weight: bold;
        @media(min-width: 768px) {
            bottom: 20em;
        }
    }
    .requirements-list {
        display: inline-block;
        top: 2em;
        position: relative;
        left: -70px;
        @media(min-width: 768px) {
            top: -13em;
        }
        li {
            color: #1e93ee;
            span {
                color: #1a2240;
            }
        }
    }
    .require-left-slider-btn,
    .require-right-slider-btn {
        text-align: center;
        width: 40px;
        height: 40px;
        border: 2px solid #e0e0e0;
        border-radius: 100%;
        color: #e0e0e0;
        display: inline-block;
        float: left;
        margin: 1em 0 0 calc(50% + 2em);
        font-size: 25px;
        @media(min-width: 768px) {
            margin: 2em 0 0 calc(50% + 2em);
        }
        p {
            color: #e0e0e0;
            padding: calc(50% - 20px) calc(50% - 8px);
        }
    }
    .require-right-slider-btn {
        margin: -1.55em 0 0 calc(50% + 5em);
        @media(min-width: 768px) {
            margin: -1.6em 0 0 calc(50% + 4em);
        }
    }
    .require-left-slider-btn:hover,
    .require-right-slider-btn:hover {
        cursor: pointer;
        border: 2px solid #118ded;
        p {
            color: #118ded;
        }
    }
    .aplication-btn {
        width: 325px;
        height: 40px;
        border: 1px solid #1a2240;
        background: none;
        margin: 1em 0em 1em 0.5em;
        color: #1a2240;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
        @media(min-width: 768px) {
            margin: 11em 0em 0 -3em;
        }
    }
    .aplication-btn:hover {
        color: white;
        background: #1a2240;
        transition: 500ms;
        transform: scale(1.2, 1.2);
    }
}
